@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   transition: all .1s ease-in;
}

body {
   margin: 0;
   box-sizing: border-box;
}

header {
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
   display: block;
   text-align: center;
   padding-bottom: 12px;
   padding-top: 20px;
   background: #4A4F56;
   color:#FF8984;
}

.main-frame {
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
   background: #3B3F45;
   padding-top: 20px;
   padding-bottom: 45px;
}

.list-items {
   list-style-type: none;
   margin: 0 auto;
   width: 100%;
   max-width: 535px;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
li {
   height: 45px;
   left: 129px;
   top: 102px;
   padding: 12px 12px 0 12px;
   color: #FFFFFF;
}

.list-items li:nth-child(odd) {
   background: #88839E;
   border-top: 2px solid #88839E;
   border-bottom: 2px solid #88839E;
}

.list-items li:nth-child(even) {
   background: #7A7593;
   border-top: 2px solid #7A7593;
   border-bottom: 2px solid #7A7593;   
}

.list-items li:hover {
   background: #625E77;
   border-top: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
}

li input:checked + label {
   text-decoration: line-through;
   color: #9B96AC;
}

label {
   font-weight: 400;
   font-size: 18px;
   display: inline-flex;
}

p {
   font-weight: 400;
   font-size: 11px;
   padding: 5px 0 17px 5px;
}

div {
   margin: 0 auto;
   width: auto;
   max-width: 535px;
   height: 45px;
   text-align: center;
   background: #4A4F56;
   margin-top: 45px;
}

.finish {
   font-size: 18px;
   line-height: 21px;
   color: #FF8984;
   padding-top: 9px;
}